.container {
    width: 80%;
    height: auto;
    margin: 80px auto;
}

.article-title {
    font-size: 30px;
}

.article-info {
    margin-top: 10px;
    padding-top: 5px;
    height: 20px;
}

.article-info>span {
    margin-right: 10px;
}

.article-content {
    margin-top: 30px;
}

.article-content>p {
    text-indent: 2em;
    font-size: 16px;
    line-height: 24px;
}