.main-content {
    position: relative;
    height: auto;
    width: auto;
    margin-top: 50px;
}

.main-content .main-title {
    color: #5e5e5e;
    font-size: 26px;
    text-align: center;
    padding: 24px;
    padding-top: 74px;
    font-weight: normal;
}

.main-content .categories-container {
    width: 1000px;
    margin: 0 auto;
}

.main-content .categories-container .category-nav {
    padding-top: 20px;
}

.main-content .categories-container .category-nav ul li {
    /* width: 100px; */
    margin-right: 20px;
    float: left;
}

.main-content .categories-container .category-nav ul li a {
    color: #2e2e33;
}

.main-content .categories-container .category-nav ul li a:hover {
    color: #2196f3;
    padding-bottom: 2px;
    border-bottom: 2px solid;
}

.main-content .categories-container .category-item {
    padding-top: 30px;
    padding-bottom: 30px;
}

.main-content .categories-container .category-item .category-name {
    padding-top: 20px;
    font-size: 16px;
    padding-bottom: 20px;
}

.main-content .categories-container .category-item .category-item-list li {
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.category-item-list li a {
    color: #777777;
}

.category-item-list li a:hover {
    color: #2196f3;
    padding-bottom: 2px;
    border-bottom: 2px solid;
}